
.navbar-brand {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 30px !important;
    font-weight: bold;
    color: black;
}


.navbar.navbar-light {
    background-color: #f0d067;
}

#bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

.navbar-light .nav-link {
    color: #d32f2f !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #f0d067;
    width: 100%;
    padding-left: 20px;

}

.navbar-light .navbar-brand:not([href="#"]) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-nav .nav-item.active .nav-link {
    color: black !important;
}

.container {
    margin-top: 80px;
    background-color: rgba(252, 245, 202, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Verdana;
    width: 100%;
    overflow: scroll;
}

body {
    background-image: url("/media/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: brown;
}

h1 {
    color: brown;
}

.column {
  width: 100%;
  padding: 30px;

}

.row {
    width: 100%;
    height: 200px !important;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: rgb(138, 117, 98, 0.8);
    border-radius: 20px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
}
.row2 {
    width: 100%;
    height: 135px !important;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: rgb(138, 117, 98, 0.8);
    border-radius: 20px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: auto;
}

.food-image {
    margin-left: -10px;
    width: 20%;
    flex-wrap: nowrap;
    min-height: 100%;
    max-height: 200px;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}
.restaurant-image {
    margin-left: -10px;
    width: 20%;
    flex-wrap: nowrap;
    min-height: 100%;
    max-height: 200px;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}


.restaurant-info {
    width: 50%;
    text-align: left;
    justify-content: left;
    margin-left: 10px;
    flex-wrap: nowrap;

}

.food-info {
    width: 50%;
    text-align: left;
    justify-content: left;
    margin-left: 10px;
    flex-wrap: nowrap;

}

.restaurant-info p {
    margin: 5px 0;
}

.restaurant-name {
    font-size: 30px;
}

.food-info p {
    margin: 5px 0;
}

.food-name {
    font-size: 30px;
}

.check-reviews-div {
    padding: 50px;
    flex-wrap: nowrap;
    margin-left: auto;
}

.deleterevdiv {
    padding-top: 100px;
    padding-right: 16px;
    text-align: right;
    flex-wrap: nowrap;
    margin-left: auto;
    justify-content: right;
}

button.check-reviews {
    background: #f0d067;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.check-reviews:hover {
    background-color: brown;
}

.form input {
    background-color: #f7e3a1;
    border: solid;
}

.form textarea {
    background-color: #f7e3a1;
    border: solid;
    height: 100px;
    width: 100%;
}

#id_city {
    background-color: #f7e3a1;
    border: solid;
    width: 200px;
}

#id_country {
    background-color: #f7e3a1;
    border: solid;
    width: 200px;
}

#select2-id_country-container {
    background-color: #f7e3a1;
    border: solid;
    width: 200px;
}

#select2-id_city-container {
    background-color: #f7e3a1;
    border: solid;
    width: 200px;
    font-size: 14px;
}

#id_cuisine {
    background-color: #f7e3a1;
    border: solid;
    width: 200px;
}

.restaurant-detail-image {
    width: 100%;
    height: 300px;
    border: solid;
}

.food-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.restaurant-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;

}

.restaurant-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

