{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Restaurants</h2>
    {% if restaurants.count == 0 %}
        <p>No restaurants found</p>
    {% endif %}
    <div class="column">
        {% for restaurant in restaurants %}
            <div class="row">
                <div class="restaurant-image"><img src="{{ restaurant.image.url }}"></div>
                <div class="restaurant-info">
                    <p class="restaurant-name" style="color:#f0d067">{{ restaurant.name }}</p>
                    <p class="restaurant-city" style="color:#4a0d0d"><i class="fa-solid fa-map-location-dot"></i>  {{ restaurant.city.name }}, {{ restaurant.country.name }}</p>
                    <p class="restaurant-cuisine" style="color:#4a0d0d"><i class="fa-solid fa-utensils"></i>  {{ restaurant.cuisine }} Cuisine</p>
                    <h3 class="restaurant-rating" style="color:#965500; font-weight: bold"><i class="fa-solid fa-star"></i>  {{ restaurant.find_rating|floatformat:1 }}</h3>
                </div>
                <div class="check-reviews-div">
                <a href="{% url 'restaurantdetail' restaurant.id %}">
                <button class="check-reviews" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;" 
                        onmouseover="this.style.backgroundColor='brown';" 
                        onmouseout="this.style.backgroundColor='#f0d067';">
                    Check Reviews</button>
                </a>
                    </div>
                {% comment %}<ul>
                    {% for food in restaurant.food_set.all %}
                        <li>{{ food.name }} - {{ food.price }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for comment in restaurant.comment_set.all %}
                        <li>{{ comment.user.name }} gave this restaurant {{ comment.rating }} stars: {{ comment.comment }}</li>
                    {% endfor %}
                </ul>{% endcomment %}
                
            </div>
        {% endfor %}
    </div>
    <div style="justify-content: center; width: 100%;">
    {% if pageno != 0 %}
    <a href="{% url 'prevpage' link pageno %}">
    <button type="submit" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;" 
                        onmouseover="this.style.backgroundColor='brown';" 
                        onmouseout="this.style.backgroundColor='#f0d067';">Previous Page</button>
    </a>
    {% endif %}
    {% if next_exists %}
    <a href="{% url 'nextpage' link pageno %}">
    <button type="submit" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease; text-align: right; float: right;" 
                        onmouseover="this.style.backgroundColor='brown';" 
                        onmouseout="this.style.backgroundColor='#f0d067';">Next Page</button>
    </a>
    {% endif %}
    </div>
    {% comment %}<h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.location }}</li>
        {% endfor %}
    </ul>{% endcomment %}

{% comment %}    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.user.username }} - {{ comment.restaurant.name }} - {{ comment.rating }}: {{ comment.comment }}</li>
        {% endfor %}
    </ul>{% endcomment %}
{% endblock %}
