{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Restaurants</h2>
    <div class="column">
        {% for restaurant in restaurants %}
            <div class="row">
                <div class="restaurant-image"></div>
                <div class="restaurant-info">
                    <p class="restaurant-name">{{ restaurant.name }}</p>
                    <p class="restaurant-city">{{ restaurant.city }}</p>
                    <p class="restaurant-cuisine">{{ restaurant.cuisine }}</p>
                    <p class="restaurant-rating">{{ restaurant.find_rating|floatformat:1 }}</p>
                </div>
                <div class="check-reviews-div">
                <a href="{% url 'restaurantdetail' restaurant.id %}">
                <button class="check-reviews">Check Reviews</button>
                </a>
                    </div>
                {% comment %}<ul>
                    {% for food in restaurant.food_set.all %}
                        <li>{{ food.name }} - {{ food.price }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for comment in restaurant.comment_set.all %}
                        <li>{{ comment.user.name }} gave this restaurant {{ comment.rating }} stars: {{ comment.comment }}</li>
                    {% endfor %}
                </ul>{% endcomment %}
                
            </div>
        {% endfor %}
    </div>

    {% comment %}<h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.location }}</li>
        {% endfor %}
    </ul>{% endcomment %}

{% comment %}    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.user.username }} - {{ comment.restaurant.name }} - {{ comment.rating }}: {{ comment.comment }}</li>
        {% endfor %}
    </ul>{% endcomment %}
{% endblock %}
