{% extends "base.html" %}

{% block title %} {{ other_user.username }}'s Profile{% endblock %}
{% block content %}
    <h2>{{ other_user.name }}</h2>
    {% if other_user.favorites_is_private %}
        <p>This user's favorites list is private, so you cannot see it.</p>
    {% else %}
        <a href="{% url 'other-favorites' other_user.id 0 %}">
                    <button style=" background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;"
                            onmouseover="this.style.backgroundColor='brown';"
                            onmouseout="this.style.backgroundColor='#f0d067';">{{ other_user.name }}'s Favorites</button>
                    </a>
    {% endif %}
{% endblock %}