{% extends "base.html" %}

{% block title %}Remove Meals From {{ restaurant.name }}{% endblock %}

{% block content %}
    <h2>Remove Meals From the Menu of Your Restaurant {{ restaurant.name }}</h2>
    <p>Menu:</p>
    {% for food in restaurant.food_set.all %}
        <li>{{ food.name }} - {{ food.price }}
            <form method="post" action="{% url 'removemeal' food.id restaurant.id %}">
                {% csrf_token %}
                <button type="submit" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;" 
                        onmouseover="this.style.backgroundColor='brown';" 
                        onmouseout="this.style.backgroundColor='#f0d067';" onclick="return confirm('Are you sure that you want to delete this meal?');">Remove This Meal</button>
            </form>
        </li>
    {% endfor %}
{% endblock %}