{% extends "base.html" %}

{% block title %}restaurant.name{% endblock %}

{% block content %}
    <h1>{{ restaurant.name }}</h1>
    <p>Point: {{ restaurant.point }}</p>
    <p>City: {{ restaurant.city }}</p>
    <p>Cuisine: {{ restaurant.cuisine }}</p>
    <a href="{% url 'home' %}">Back to Home</a>
    <p>Menu:</p>
    {% for food in restaurant.food_set.all %}
        <li>{{ food.name }} - {{ food.price }}</li>
    {% endfor %}
    <br />
    <p>Comments:</p>
    {% for comment in restaurant.comment_set.all %}
        <li>{{ comment.user.name }} gave this restaurant {{ comment.rating }} stars: {{ comment.comment }}</li>
    {% endfor %}
    
{% endblock %}
