{% extends "base.html" %}

{% block title %}Your Bookings{% endblock %}

{% block content %}
    <h2>Booking Requests To Your Restaurants</h2>
    <p>Select a restaurant to manage booking requests</p>
    <a href="{% url 'profile' user.id %}"><button class="check-reviews" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;"
                        onmouseover="this.style.backgroundColor='brown';"
                        onmouseout="this.style.backgroundColor='#f0d067';">
                    Back to Profile</button></a>
    <div class="column">
        {% for restaurant in restaurants %}
            <div class="row">
                <div class="restaurant-image"><img src="{{ restaurant.image.url }}"></div>
                <div class="restaurant-info">
                    <a href="{% url 'restaurant_detail' restaurant.id 0 %}">
                    <p class="restaurant-name" style="color:#f0d067">{{ restaurant.name }}</p>
                    </a>
                    <p class="restaurant-city" style="color:#4a0d0d"><i class="fa-solid fa-map-location-dot"></i>  {{ restaurant.city.name }}, {{ restaurant.country.name }}</p>
                    <p class="restaurant-cuisine" style="color:#4a0d0d"><i class="fa-solid fa-utensils"></i>  {{ restaurant.cuisine }} Cuisine</p>
                    <h3 class="restaurant-rating" style="color:#965500; font-weight: bold"><i class="fa-solid fa-star"></i>  {{ restaurant.find_rating|floatformat:1 }}</h3>
                </div>
                <div class="check-reviews-div">
                <a href="{% url 'manage_bookings' restaurant.id %}">
                <button class="check-reviews" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;" 
                        onmouseover="this.style.backgroundColor='brown';" 
                        onmouseout="this.style.backgroundColor='#f0d067';">
                    Manage Booking Requests</button>
                </a>
                    </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}