{% extends "base.html" %}

{% block title %}Sign Up!{% endblock %}
{% block content %}
    <h2>Sign Up!</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form">
        {{ form.as_p }}
        </div>
        <button type="submit" style="background-color: #f0d067; border-radius: 20px; border-color: black; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;" 
                        onmouseover="this.style.backgroundColor='brown';" 
                        onmouseout="this.style.backgroundColor='#f0d067';">Sign Up</button>
    </form>
{% endblock %}